# CMS OpenCart #
###################

# .htaccess
/config.php
admin/config.php
!index.html
image/cache/
/system/storage/logs/*

# vQmod log files
vqmod/logs/*
# vQmod cache files
vqmod/vqcache/*
vqmod/checked.cache
vqmod/mods.cache
